<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

    <!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Heart Rate Plot</h3>
                </div>
                <div class="box-body">
                    <div id="hr-plot" style="width:100%;height:300px"></div>
                </div><!-- /.box-body -->
                <!-- Loading (remove the following to stop the loading) -->
                <div class="overlay" id="hr-plot-overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->
            </div><!-- /.box -->
        </div> 
        
        
    </div>
    
    
</section>
<script type="text/javascript">
    $.getJSON( "../rest/api/data/hr/test/2000", function( response ) {
        console.log(response);
        $.plot($("#hr-plot"), [ response.data ]);
    }).done($('#hr-plot-overlay').hide());
</script>