<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

    <!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">ACC</h3>
                </div>
                <div class="box-body">
                    <canvas id="myChart"></canvas>
                </div><!-- /.box-body -->
                <!-- Loading (remove the following to stop the loading)-->
                <div class="overlay" id="acc-graph-overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->
            </div><!-- /.box -->
        </div> 
    </div>
</section>
<script type="text/javascript">
    Chart.defaults.global.responsive = true;
    var ctx = $("#myChart").get(0).getContext("2d");
    $.getJSON( "../rest/api/data/hr/test/20", function( response ) {
        console.log(response);
        var data = {
            labels:[],
            datasets: [
                {
                    label: "Heart Rate",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: response.data
                },
            ]
        };
        for (i=0; i<response.results;i++) {
            data.labels.push(i);
        }
        var options = {
            scaleShowGridLines : false,
            pointDot: false,
            bezierCurve: false,
            showScale:false,

        }
        var myLineChart = new Chart(ctx).Line(data, options);
        $('#legendDiv').hide();
    }).done($('#acc-graph-overlay').hide());
</script>