<ul class="sidebar-menu">
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-calendar-o"></i>
            <span>My Patients</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#movements"><i class="fa fa-map"></i> List patients</a></li>
            <li><a href="#heart"><i class="fa fa-heartbeat"></i> Inbox</a></li>
        </ul>
    </li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-calendar-o"></i>
            <span>Prescriptions</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#movements"><i class="fa fa-map"></i> New prescription</a></li>
            <li><a href="#heart"><i class="fa fa-heartbeat"></i> History</a></li>
        </ul>
    </li>
</ul>